*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: whitesmoke;
    color: #030104;
}

main{
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(2rem, 1fr);
}

#header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.5rem;
}

#CM5418{
  width: 100%;
  object-fit: cover;
}

.navbar a{
    text-decoration: none;
    color: #030104;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
}

#features ul{
    list-style-type: bullet;
    padding: 0;
    margin: 0;
}

li{
    display: inline-block;
    vertical-align: top;
}

nav header {
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0px;
}

#nav-bar{
    position: relative;
    font-size: 1.5em;
}

.navbar {
  overflow: hidden;
}

.dropdown {
  float: left;
  overflow: hidden;
  background-color: #00C7C7;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #030104;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover {
  background-color: #00C7C7;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 950px) {
    main{
      display: block;
      grid-template-columns: minmax(1rem, 1fr) minmax(1rem, 1fr);
    }
}

@media only screen and (max-width: 600px) {
  #header{
    display: block;
    text-align: center;
  }
  .dropdown{
    float: none;
    background-color: #00C7C7;
  }
}
